# Vuepress Cache
**/.vuepress/.cache/**
# Vuepress Temp
**/.vuepress/.temp/**
# Vuepress Output
**/.vuepress/dist/**
# Lib files
**/.vuepress/public/assets/

# VitePress Cache
**/.vitepress/cache/**
# VitePress Output
**/.vitepress/dist/**

# Node modules
node_modules/

# Obsidian files
**/.obsidian/**

# NPM lock file
pnpm-lock.yaml
package-lock.json
yarn.lock

.husky/