name: autofix.ci # needed to securely identify the workflow

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  autofix:
    name: 检查文档格式
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: 设置 pnpm
        uses: pnpm/action-setup@v4

      - name: 设置 Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: pnpm

      - name: 安装依赖
        run: pnpm install

      - name: 运行 Lint 修复
        env:
          NODE_OPTIONS: --max_old_space_size=8192
        run: |-
          pnpm run lint:fix
          pnpm run compress-images

      - name: 提交 Lint 修复
        uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
