name: 构建文档

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 签出仓库
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 设置 pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: 设置 Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: 安装依赖
        run: pnpm install

      - name: 构建文档
        env:
          NODE_OPTIONS: --max_old_space_size=8192
        run: |-
          pnpm run docs:build
          > .vitepress/dist/.nojekyll

      - name: 压缩构建文件
        run: tar -cvf dist.tar .vitepress/dist

      - name: 上传构建结果
        uses: actions/upload-artifact@v4
        with:
          name: build-result
          path: |
            dist.tar
