name: build

on:
  workflow_call:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: 构建文档
    runs-on: ubuntu-latest
    steps:
      - name: 签出仓库
        uses: actions/checkout@v4

      - name: 设置 pnpm
        uses: pnpm/action-setup@v4

      - name: 设置 Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: pnpm

      - name: 安装依赖
        run: pnpm install

      - name: 构建文档
        env:
          NODE_OPTIONS: --max_old_space_size=8192
        run: |-
          pnpm run docs:build

      - name: 压缩构建文件
        run: tar -cvf dist.tar .vitepress/dist

      - name: 上传构建结果
        uses: actions/upload-artifact@v4
        with:
          name: build-result
          path: |
            dist.tar

      - name: 保存 PR 编号
        if: always() && github.repository == 'zotero-chinese/wiki' && github.event_name == 'pull_request'
        run: |
          echo "${{ github.event.number }}" > pr_num

      - name: 上传 PR 编号
        if: always() && github.repository == 'zotero-chinese/wiki' && github.event_name == 'pull_request'
        uses: actions/upload-artifact@v4
        with:
          name: pr-num
          path: ./pr_num
