name: ci

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  lint:
    name: 检查文档格式
    runs-on: ubuntu-latest
    steps:
      - name: Setup JS
        uses: zotero-plugin-dev/workflows/setup-js@main

      - name: 运行 Lint 检查
        run: |-
          pnpm run lint:check
          pnpm run compress-images --check

  build:
    name: 构建文档
    uses: ./.github/workflows/build.yml

  send-dispatch:
    name: 请求部署上线
    if: github.repository == 'zotero-chinese/wiki' && github.event_name != 'pull_request'
    needs:
      - lint
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          repository: zotero-chinese/website
          event-type: update-triggered-by-wiki-repo
