name: ci

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  lint:
    name: 检查文档格式
    runs-on: ubuntu-latest
    steps:
      - name: 签出仓库
        uses: actions/checkout@v4

      - name: 设置 pnpm
        uses: pnpm/action-setup@v4

      - name: 设置 Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: pnpm

      - name: 安装依赖
        run: pnpm install

      - name: 运行 Lint 检查
        env:
          NODE_OPTIONS: --max_old_space_size=8192
        run: |-
          pnpm run lint:check
          pnpm run compress-images --check

  build:
    name: 构建文档
    uses: ./.github/workflows/build.yml

  send-dispatch:
    name: 请求部署上线
    if: github.repository == 'zotero-chinese/wiki' && github.event_name != 'pull_request'
    needs:
      - lint
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          repository: zotero-chinese/website
          event-type: update-triggered-by-wiki-repo
