name: Main Action

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: write

jobs:
  lint:
    uses: ./.github/workflows/lint.yml

  build:
    uses: ./.github/workflows/build.yml

  deploy-gh-pages:
    # if: github.ref_name == 'main' && github.event_name == 'push'
    needs:
      - lint
      - build
    uses: ./.github/workflows/deploy-gh-pages.yml
